@charset "utf-8";

@import url(reset.css);

/* ******************** 레이아웃 구성 시작 ******************** */
#wrap, #wrap>div { width: 100%; height: auto; }
#header { height: 104px; }
#mainview { 
  height: 695px; 
  position: relative;
  margin-bottom: 105px;
}
#gallery1 { height: 546px; margin-bottom: 126px;}
#gallery2 { height: 483px; margin-bottom: 147px;}
#gallery3 { 
  height: 567px; 
  margin: 0 0 273px 200px;
}
#gallery4 { 
  width: 1920px; height: 483px; 
  position: relative;
}
#footer { 
  height: 294px; 
  position: relative;
  margin-bottom: 105px;
}


.container { width: 1170px; height: 100%; margin: auto; }
/* .container-fluid { width: 100%; height: 100%;} */




/* ******************** 공통 영역 구성 시작 ******************** */
/* .photo-text {
  position: absolute;
  left: 0;
  bottom: 0;
} */



/* ******************** 개별 영역 구성 시작 ******************** */

/* ************ header Area Start ************ */

/* Site Logo */
#header h1{ 
  width: 70px; 
  height: 70px; 
  float: left; 
  margin: 21px 57px 0 0;
}
#header h1 a {
  background-image: url(../images/logo.png);
}

/* Gnb */
#header .gnb { 
  width: 540px; 
  height: 21px; 
  float: left;
  margin-left: 320px;
}
#header .gnb li { 
  float: left;
  margin: 42px 53px 0 0; 
}

/* lang-box */
#header .lang-box{
  width: 100px; 
  height: 21px; 
  float: right; 
  margin-top: 42px;
}


/* ************ mainview Area Start ************ */
#mainview>img {
  margin-left: 150px;
}
#mainview h2.main-photo-text {
  position: absolute;
  left: 475px;
  top: 296px;
  color: #fff;
  font: 700 6em 'Nanum Gothic', sans-serif;
}
#mainview .main-right-text {
  position: absolute;
  right: 260px;
  top: 40%;
  font: 700 2em 'Nanum Gothic', sans-serif;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#mainview .contact{
  width: 370px; height: 84px;
  position: absolute;
  right: 450px;
  bottom: 40px;
  font: 700 1.4em 'Nanum Gothic', sans-serif;
}
#mainview .contact .contact-num{
  font: 700 1.4em 'Nanum Gothic', sans-serif;
  float: left;
  position: relative;
  padding-right: 130px;
}
#mainview .contact .contact-num::after{
  content: ''; display: block;
  width: 100px; height: 1px;
  background-color: #000;
  position: absolute;
  left: 50px; bottom: 10px;
}
#mainview .contact>div:last-child{
  position: absolute;
  right: 100px; bottom: 35px;
  border: 1px solid #000;
  padding: 2px 5px 2px 5px;
}


/* ************ gallery1 Area Start ************ */
#gallery1 h3.g1-left-box {
  float: left;
  font: 700 3em 'Nanum Gothic', sans-serif;
  text-decoration: underline;
  margin-right: 100px;
  padding-top: 105px;
}
#gallery1 .g1-right-box {
  position: relative;
}
#gallery1 .g1-right-box img{
  padding-bottom: 42px;
}
#gallery1 .g1-right-box img+div{
  position: absolute;
  right: 500px;
  bottom: 0;
  font: 700 1.6em 'Nanum Gothic', sans-serif;
}
#gallery1 .g1-right-box>div i {
  position: absolute;
  right: 100px;
  bottom: 80px;
  font-size: 3em;
}


  /* ************ gallery2 Area Start ************ */
#gallery2 img {
  float: left;
  margin-right: 61px;
}
#gallery2 h3 { 
  font: 700 3em 'Nanum Gothic', sans-serif;
  margin-bottom: 42px;
  padding-top: 63px;
}
#gallery2 h3+p { 
  width: 270px;
  float: left;
  margin-right: 30px;
}
#gallery2 p+p {
  width: 270px;
  float: left;
}
  
  /* ************ gallery3 Area Start ************ */
  #gallery3 .g3-left-box {
    position: relative;
    float: left;
  }
  #gallery3 .g3-left-box img+div{
    width: 339px;
    height: 21px;
    position: absolute;
    left: 80px;
    bottom: -40px;
    font: 700 1.6em 'Nanum Gothic', sans-serif;
  }
  #gallery3 .g3-left-box>div i {
    position: absolute;
    left: 435px;
    bottom: 40px;
    font-size: 3em;
  }
  #gallery3 h3.g3-right-box {
    float: left;
    font: 700 3em 'Nanum Gothic', sans-serif;
    text-decoration: underline;
    margin-left: 170px;
    padding-top: 70px;
  }
  
  
  /* ************ gallery4 Area Start ************ */
#gallery4 .g4-top-text {
  text-align: right;
  font: 700 1.4em 'Nanum Gothic', sans-serif;
  position: absolute;
  right: 120px; top: -50px;
}
#gallery4 .g4-top-text .g4-top-num {
  color: #888;
  margin-right: 30px;
}
#gallery4 .g4-top-text span:nth-child(3){
  margin-left: 120px;
  position: relative;
}
#gallery4 .g4-top-text span:nth-child(3)::before{
  content: ''; display: block;
  width: 100px; height: 1px;
  background-color: #000;
  position: absolute;
  left: -120px; bottom: 3px;
}
#gallery4 .g4-top-text span:last-child{
  margin-left: 5px;
  border: 1px solid #000;
  padding: 2px 5px 2px 5px;
}

#gallery4 .g4-images>div {
  float: left;
  margin-right: 30px;
  position: relative;
}
#gallery4 .g4-images>div::after{
  width: 273px;
  height: 378px;
  content:'';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
}
#gallery4 .g4-images>div:hover::after{
  background-color: rgba(255, 255, 255, 0.5);
}
#gallery4 .g4-images>div>div {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font: 700 3em 'Nanum Gothic', sans-serif;
}
#gallery4 .g4-images>div:nth-child(1) {
  margin-left: 68px;
}
#gallery4 .g4-images>div:nth-child(6) {
  margin-right: 60px;
}



/* ************ footer Area Start ************ */
#footer .f-left-box ul {
  float: left;
  padding-right: 50px;
  font: 400 1.4em/21px 'Nanum Gothic', sans-serif;
}
#footer .f-left-box ul>li:first-child {
  padding-bottom: 20px;
  font: 700 1.4em/21px 'Nanum Gothic', sans-serif;
}
#footer .f-right-box {
  width: 641px;
  height: 273px;
  position: absolute;
  right: 135px;
  bottom: 20px;
}



